{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
{% for list in lists %}
<div class="list">
    <h2>{{list.name}}</h2>
    {% if list.taskId|length > 1 %}
        <p>Tasks : {{list.taskId|length}}</p>
        {% elseif list.taskId|length == 1 %}
            <p>Task : {{list.taskId|length}}</p>
        {% else %}
            <p>No task</p>
    {% endif %}

    <a class="buttonSecondary" href="{{path('app_list_detail', {'id': list.id})}}">Details</a>
    <a class="buttonSecondary delete" href="{{path('app_list_delete', {'id': list.id})}}">Delete</a>

</div>
{% endfor %}

<a class="button" href="{{path('app_list_create')}}">Create a new list</a>
{% endblock %}