{% extends 'base.html.twig' %}

{% block title %}Create task{% endblock %}

{% block body %}

{{form_start(form)}}
    {{ form_label(form.title, 'Task name') }}
    {{ form_widget(form.title) }}
    <li class="error">{{ form_errors(form.title, {
        'attr': {'class': 'error'}
        })
    }}</li>
{{form_end(form)}}

{% if list is defined %}
    <a class="button" href="{{path('app_list_detail', {'id':list.id})}}">Return</a>
{% else %}
    <a class="button" href="{{path('app_list_detail', {'id':task.todoList.id})}}">Return</a>
{% endif %}

    

{% endblock %}